<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <body class="backgroundImage">
    <header> 
      <div>
                <% include ../../partials/header %>
      </div>
    </header>
    <% include ../../partials/sidebar %>

      <div id="main">
        <% include ../../partials/flash %>
          <div class="container">
              <div class="card border-0 shadow my-5">
                  <div class="card-body p-5">
              <div class="mt-4 text-center">
      <div class="container">        
          <div class="container text-center">
              <h2 class="mt-5"><%= issue.title %></h2>
                  <table class="table table-dark table-striped mt-5">
                      <thead>
                          <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Location</th>
                            <th scope="col">Description</th>
                            <% if(sessionUser && (sessionUser.faculty || sessionUser.admin)) { %>
                              <th scope="col">Submitted User</th>
                            <% } %>
                          </tr>
                        </thead>
                      <tbody>
                        <tr>
                          <td><img class="rounded-circle" id="userImageUpload" src=<%= imgFilePath %> width='180' height='180'/></td>
                          <td><h6><%= issue.location %></h3></td>
                          <td><h6><%= issue.description %></h6></td>
                          <% if(sessionUser && (sessionUser.faculty || sessionUser.admin)) { %>
                            <td>
                              <%= issue.subUser.firstname + ' ' + issue.subUser.lastname %>
                            </td>
                          <% } %>
                        </tr>
                        </tbody>
                  </table>  
                  <br/>
                  <h4>
                        Are you sure you would like to delete this issue?
                  </h4>
                    <form action="/issues/issue/<%= issue.id%>/delete" method="POST">
                        <button class="btn text-white btn-danger">Yes, delete it.</button>
                    </form>
          </div>


      </div>    
      </div>
      </div>
      </div>
      </div>
      <footer> 
        <div>
          <% include ../../partials/footer %>
        </div>
      </footer>
    </body>
</html>