<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head %>
	</head>
	<body class="backgroundImage">
		<header> 
			<div>
                <% include ../../partials/header %>
			</div>
    </header>
    <% include ../../partials/sidebar %>

      <div id="main">
        <% include ../../partials/flash %>
          <div class="container">
              <div class="card border-0 shadow my-5">
                  <div class="card-body p-5">
              <div class="mt-4 text-center">
      <div class="container">        
          <div class="container text-center">
              <h2 class="mt-5"><%= event.title %></h2>
                  <table class="table table-dark table-striped mt-5">
                      <thead>
                          <tr>
                            <th scope="col">Location</th>
                            <th scope="col">Description</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">End Time</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                      <tbody>
                        <tr>
                            <td><h6><%= event.location %></h3></td>
                            <td><h6><%= event.description %></h6></td>
                            <td><h6> <%= event.start_date %></h6></td>
                            <td><h6> <%= event.end_date %></h6></td>
                        </tr>
                        </tbody>
                  </table>  
                  <br/>
                  <h4>
                        Are you sure you would like to delete this event?
                  </h4>
                    <form action="/events/event/<%= event.id%>/delete" method="POST">
                        <button class="btn text-white btn-danger">Yes, delete it.</button>
                    </form>
          </div>


      </div>    
      </div>
      </div>
      </div>
      </div>
      <footer> 
        <div>
          <% include ../../partials/footer %>
        </div>
      </footer>
    </body>
</html>